
@{
    ViewBag.Title = "Giỏ hàng";

    Func f = new Func();
    var listCart = (List<Cart>)ViewData["listCart"];
    int total = 0;
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Giỏ hàng</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Home">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Cart Section Start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            @*<div class="col-12">
                <div class="count-down">
                    <h5>
                        Your cart will be expired in <span class="count-timer theme-color" id="timer"></span>
                        minutes !
                    </h5>
                    <button type="button" onclick="location.href = '~/Checkout';"
                            class="btn btn-solid-default btn-sm fw-bold">
                        Thanh toán
                    </button>
                </div>
            </div>*@
            <div class="col-sm-12 table-responsive mt-4">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thao tác</th>
                            <th scope="col">Tổng cộng</th>
                        </tr>
                    </thead>
                    @foreach (var item in listCart)
                    {
                        int subtotal = (int)item.cart_product_quantity * item.product.product_price;
                        total += subtotal;
                        <tbody id="product_@item.product.product_id">
                            <tr>
                                <td>
                                    <a href="javascript:void();">
                                        <img src="@item.product.product_img" class=" blur-up lazyload" />
                                    </a>
                                </td>
                                <td>
                                    <a href="~/Shop/Detail/@item.product.product_id">@item.product.product_name</a>
                                </td>
                                <td>
                                    <h2 class="product_price" id="product_price_@item.product.product_id" data-price="@item.product.product_price">@f.NumberToStr(item.product.product_price)</h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number" id="product_quantity_@item.product.product_id" value="@item.cart_product_quantity" onchange="update_cart(@item.product.product_id, this.value)" min="1" max="@item.product.product_quantity" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="delete_from_cart(@item.product.product_id)">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <h2 class="td-color" id="product_subtotal_@item.product.product_id">@f.NumberToStr(subtotal)đ</h2>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>

            <div class="col-12 mt-md-5 mt-4">
                <div class="row">
                    <div class="col-sm-7 col-5 order-1">
                        <div class="left-side-button text-end d-flex d-block justify-content-end">
                            @*<a href="javascript:void(0)"
                               class="text-decoration-underline theme-color d-block text-capitalize">
                                clear
                                all items
                            </a>*@
                        </div>
                    </div>
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                            <a href="~/Shop" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i>Tiếp tục mua hàng
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-checkout-section">
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6">
                        @*<div class="promo-section">
                            <form class="row g-3">
                                <div class="col-7">
                                    <input type="text" class="form-control" id="number" placeholder="Coupon Code">
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-solid-default rounded btn">Apply Coupon</button>
                                </div>
                            </form>
                        </div>*@
                    </div>

                    <div class="col-lg-4 col-sm-6 ">
                        @*<div class="checkout-button">
                            <a href="checkout.html" class="btn btn-solid-default btn fw-bold">
                                Thanh toán <i class="fas fa-arrow-right ms-1"></i>
                            </a>
                        </div>*@
                    </div>

                    <div class="col-lg-4">
                        <div class="cart-box">
                            <div class="cart-box-details">
                                <div class="total-details">
                                    <div class="top-details">
                                        <h3>Tổng đơn hàng</h3>
                                        <h6>Tạm tính <span id="cart_subtotal">@f.NumberToStr(total)đ</span></h6>
                                        @*<h6>Coupon Discount <span>-$25.00</span></h6>
                                        <h6>Convenience Fee <span><del>$25.00</del></span></h6>*@
                                    </div>
                                    <div class="bottom-details">
                                        @{
                                            string checkout = "javascript:void();";
                                            if (total > 0)
                                            {
                                                checkout = "/Checkout";
                                            }
                                        }
                                        <a href="@checkout">Truy cập Thanh toán</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->