
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    var listInvd = (List<invoice_details>)ViewData["listInvd"];
    var inv = (invoices)ViewData["invoice"];
    Func f = new Func();
    int total = 0;
    var vnp_transaction_id = (string)ViewData["vnp_transaction_id"];
    string style = "";
    if(inv.invoice_prepaid > 0 && string.IsNullOrEmpty(vnp_transaction_id))
    {
        style = "background: -webkit-gradient(linear, left top, right bottom, from(#e22454), to(#e22454)); background: linear-gradient(to bottom right, #e22454, #e22454);";
    }
}

<!-- Order Success Section Start -->
<section class="pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="success-icon">
                    <div class="main-container">
                        <div class="check-container">
                            <div class="check-background" style="@style">
                                <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="check-shadow"></div>
                        </div>
                    </div>

                    <div class="success-contain">
                        <h4>Đặt hàng thành công</h4>
                        <h5 class="font-light">@ViewData["content"]</h5>
                        <h6 class="font-light">Mã đơn: @inv.invoice_id</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Order Success Section End -->
<!-- Oder Details Section Start -->
<section class="section-b-space cart-section order-details-table">
    <div class="container">
        <div class="title title1 title-effect mb-1 title-left">
            <h2 class="mb-3">Chi tiết đơn hàng</h2>
        </div>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="col-sm-12 table-responsive">
                    <table class="table cart-table table-borderless">
                        <tbody>
                            @foreach (var item in listInvd)
                            {
                                total += (int)item.invd_product_quantity * item.invd_product_price;
                                <tr class="table-order">
                                    <td>
                                        <a href="javascript:void(0)">
                                            <img src="@item.product.product_img" class="img-fluid blur-up lazyload" />
                                        </a>
                                    </td>
                                    <td>
                                        <p>Tên sản phẩm</p>
                                        <h5>@item.product.product_name</h5>
                                    </td>
                                    <td>
                                        <p>Số lượng</p>
                                        <h5>@item.invd_product_quantity</h5>
                                    </td>
                                    <td>
                                        <p>Giá</p>
                                        <h5>@f.NumberToStr(item.invd_product_price)</h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @*<tr class="table-order">
                                <td colspan="3">
                                    <h5 class="font-light">Tạm tính :</h5>
                                </td>
                                <td>
                                    <h4>$55.00</h4>
                                </td>
                            </tr>*@
                            <tr class="table-order">
                                <td colspan="3">
                                    <h4 class="theme-color fw-bold">Tổng cộng:</h4>
                                </td>
                                <td>
                                    <h4 class="theme-color fw-bold">@f.NumberToStr(total)đ</h4>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="order-success">
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <h4>summery</h4>
                            <ul class="order-details">
                                <li>Mã đơn hàng: @inv.invoice_id</li>
                                <li>Ngày đặt: @inv.invoice_created_at.ToString()</li>
                                <li>Tổng đơn: @f.NumberToStr(inv.invoice_subtotal)đ</li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <h4>Địa chỉ giao hàng</h4>
                            <ul class="order-details">
                                <li>@inv.invoice_user_fullname</li>
                                <li>@inv.invoice_user_phone_number</li>
                                <li>@inv.invoice_user_address</li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <div class="payment-mode">
                                <h4>Phương thức thanh toán</h4>
                                @if (inv.invoice_prepaid == 0)
                                {
                                    <p>Thanh toán khi nhận hàng (COD)</p>
                                }
                                else
                                {
                                    <p>Thanh toán trực tuyến (VN PAY)</p>
                                    <p>Mã giao dịch: @vnp_transaction_id</p>
                                }
                            </div>
                        </div>

                        @if (inv.invoice_prepaid > 0 && string.IsNullOrEmpty(vnp_transaction_id))
                        {
                            <div class="col-md-12">
                                <div class="delivery-sec">
                                    @*<h3>expected date of delivery: <span>october 22, 2018</span></h3>*@
                                    <a href="@Url.Action("Purchase", new { id = inv.invoice_id })">Thanh toán lại</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Order Details Section End -->