
@{
    ViewBag.Title = "Trang cá nhân";
    Func f = new Func();
    var user = (users)ViewData["user"];
    var listInvoices = (List<invoices>)ViewData["listInvoices"];
    var userOrder = (UserOrder)ViewData["UserOrder"];
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Trang Cá Nhân</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Home">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Trang cá nhân</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- user dashboard section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs custome-nav-tabs flex-column category-option" id="myTab">
                    <li class="nav-item mb-2">
                        <button class="nav-link font-light active" id="tab" data-bs-toggle="tab"
                                data-bs-target="#dash" type="button">
                            <i class="fas fa-angle-right"></i>Tổng quan
                        </button>
                    </li>
                    <li class="nav-item mb-2">
                        <button class="nav-link font-light" id="1-tab" data-bs-toggle="tab" data-bs-target="#order"
                                type="button">
                            <i class="fas fa-angle-right"></i>Đơn hàng
                        </button>
                    </li>
                    @*<li class="nav-item mb-2">
                            <button class="nav-link font-light" id="2-tab" data-bs-toggle="tab" data-bs-target="#save"
                                    type="button">
                                <i class="fas fa-angle-right"></i>Saved Address
                            </button>
                        </li>*@
                    <li class="nav-item mb-2">
                        <button class="nav-link font-light" id="3-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button">
                            <i class="fas fa-angle-right"></i>Cá nhân
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="filter-button dash-filter dashboard">
                    <button class="btn btn-solid-default btn-sm fw-bold filter-btn">Show Menu</button>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="dash">
                        <div class="dashboard-right">
                            <div class="dashboard">
                                <div class="page-title title title1 title-effect">
                                    <h2>Tổng quan</h2>
                                </div>
                                <div class="welcome-msg">
                                    <h6 class="font-light">Hello, <span>@user.user_fullname !</span></h6>
                                    <p class="font-light">
                                        From your My Account Dashboard you have the ability to
                                        view a snapshot of your recent account activity and update your account
                                        information. Select a link below to view or edit information.
                                    </p>
                                </div>
                                <div class="order-box-contain my-4">
                                    <div class="row g-4">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="order-box">
                                                <div class="order-box-image">
                                                    <img src="~/Content/images/svg/box.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                                <div class="order-box-contain">
                                                    <img src="~/Content/images/svg/box1.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    <div>
                                                        <h5 class="font-light">Tổng đơn</h5>
                                                        <h3>@userOrder.total</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="order-box">
                                                <div class="order-box-image">
                                                    <img src="~/Content/images/svg/sent.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                                <div class="order-box-contain">
                                                    <img src="~/Content/images/svg/sent1.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    <div>
                                                        <h5 class="font-light">Đơn đang chờ</h5>
                                                        <h3>@userOrder.pending</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="order-box">
                                                <div class="order-box-image">
                                                    <img src="~/Content/images/svg/wishlist.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                                <div class="order-box-contain">
                                                    <img src="~/Content/images/svg/wishlist1.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    <div>
                                                        <h5 class="font-light">Đơn đã huỷ</h5>
                                                        <h3>@userOrder.cancel</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-account box-info">
                                    <div class="box-head">
                                        <h3>Thông tin tài khoản</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="box">
                                                <div class="box-title">
                                                    <h4>Thông tin liên hệ</h4>
                                                </div>
                                                <div class="box-content">
                                                    <h6 class="font-light">@user.user_fullname</h6>
                                                    <h6 class="font-light">@user.user_email</h6>
                                                    @*<a href="javascript:void(0)">Change Password</a>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="box">
                                                @*<div class="box-title">
                                                    <h4>Đơn hàng gần đây</h4>
                                                </div>
                                                <div class="box-content">
                                                    <h6 class="font-light">Empty.</h6>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade table-dashboard dashboard wish-list-section" id="order">
                        <div class="box-head mb-3">
                            <h3>Lịch sử mua hàng</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                    <tr class="table-head">
                                        <th scope="col">Mã đơn</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th scope="col">Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listInvoices)
                                    {
                                        string status = "";
                                        //if (item.invoice_status_id == 1 || item.invoice_status_id == 2)
                                        //{
                                        //    status = "success";
                                        //}
                                        //else
                                        //{
                                        //    status = "danger";
                                        //}
                                        <tr>
                                            <td>
                                                <p class="mt-0">#@item.invoice_id</p>
                                            </td>
                                            <td>
                                                <p class="@status-button btn btn-sm">@item.invoice_status.invoice_status_name</p>
                                            </td>
                                            <td>
                                                <p class="theme-color fs-6">@f.NumberToStr(item.invoice_subtotal)</p>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Detail", "Invoice", new { invoice_id = item.invoice_id })">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade dashboard-profile dashboard" id="profile">
                        <div class="box-head">
                            <h3>Thông tin cá nhân</h3>
                            @*<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#resetEmail">Edit</a>*@
                        </div>
                        <div class="box-head mt-lg-5 mt-3">
                            <h3>Login Details</h3>
                            <a href="javascript:void(0)" data-bs-toggle="modal"
                               data-bs-target="#resetEmail">Edit</a>
                        </div>
                        <ul class="dash-profile">
                            <li>
                                <div class="left">
                                    <h6 class="font-light">Email</h6>
                                </div>
                                <div class="right">
                                    <h6>@user.user_email</h6>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <h6 class="font-light">Số điện thoại</h6>
                                </div>
                                <div class="right">
                                    <h6>@user.user_phone_number</h6>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <h6 class="font-light">Địa chỉ</h6>
                                </div>
                                <div class="right">
                                    <h6>@user.user_address</h6>
                                </div>
                            </li>
                            <li class="mb-0">
                                <div class="left">
                                    <h6 class="font-light">Password</h6>
                                </div>
                                <div class="right">
                                    <h6>●●●●●●</h6>
                                </div>
                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                   data-bs-target="#resetPassword">Sửa</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- user dashboard section end -->
<!-- Reset Info Modal Start -->
<div class="modal fade reset-email-modal" id="resetEmail">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Đổi thông tin cá nhân</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            @using (Html.BeginForm("Index", "User", FormMethod.Post))
            {
                <div class="modal-body pt-3">
                    <div class="mb-3">
                        <label for="name" class="form-label font-light">Họ tên</label>
                        <input type="text" class="form-control" id="name" name="user_fullname" value="@user.user_fullname" required />
                    </div>
                    <div class="mb-3">
                        <label for="number_phone" class="form-label font-light">Số điện thoại</label>
                        <input type="text" class="form-control" id="number_phone" name="user_phone_number" value="@user.user_phone_number" required />
                    </div>
                    <div class="mb-3">
                        <label for="number_phone" class="form-label font-light">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="user_address" value="@user.user_address" required />
                    </div>
                    @*<div>
                    <label for="exampleInputPassword1" class="form-label font-light">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>*@
                </div>
                <div class="modal-footer pt-0">
                    <button class="btn bg-secondary rounded-1 modal-close-button" data-bs-dismiss="modal">Đóng</button>
                    <button class="btn btn-solid-default rounded-1" type="submit">Lưu</button>
                </div>
            }
            @*<form method="post" action="~/User/UpdateUser">
            </form>*@
        </div>
    </div>
</div>
<!-- Reset Info Modal End -->
<!-- Reset Password Modal Start -->
<div class="modal fade reset-email-modal" id="resetPassword">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            @using (Html.BeginForm("Index", "User", FormMethod.Post))
            {
                <div class="modal-body pt-3">
                    <div class="mb-3">
                        <label for="pass" class="form-label font-light">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="pass" name="password" required />
                    </div>
                    <div class="mb-3">
                        <label for="newpass" class="form-label font-light">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="newpass" name="new_password" required />
                    </div>
                    <div>
                        <label for="renewpass" class="form-label font-light">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" id="renewpass" name="re_new_password" required />
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button class="btn bg-secondary rounded-1 modal-close-button" data-bs-dismiss="modal">Đóng</button>
                    <button class="btn btn-solid-default rounded-1" type="submit">Lưu</button>
                </div>
            }
            @*<form method="post" action="~/User/ChangePassword">
        </form>*@
        </div>
    </div>
</div>
<!-- Reset Password Modal End -->